.cart-wrapper{
    /* display:inline-block; */
    width: 1000px;
    margin:auto;
}
.cart-details{
    max-width: 700px;
    /* width: 899px; */
    float:left;
    padding-top:1rem;
    margin: auto;
}
.cart-summary{
    border:1px lightgray solid;
    width: 250px;
    height: 200px;
    /* right:0; */
    border-radius:3px;
    margin: 1rem 0;
    background-color:white;
    float:right;
    /* z-index: 1; */
}
.cart-order-summary{
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    padding: 24px 0 0 12px; 
    line-height: .7;
}
.cart-order-summary-text{
    text-align: left;
    font-size: 14px;
    padding-left: 12px;
    text-transform: capitalize;
    line-height: .7;
}
.cart-order-summary-text-price{
    float: right;
    padding-right:14px;
}
.cart-order-hr{
    margin: 0 12px;
}
.cart-order-summary-total{
    color:rgb(204, 36, 30);
    text-align: left;
    padding:12px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
}
.cart-order-summary-total-price{
    float: right;
    padding-right:2px;
}